@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&display=swap');
@import url(./componets/header.css);
@import url(./componets/main-section.css);
@import url(./componets/acticle-section.css);
@import url(./componets/contact-us.css);
@import url(./componets/about.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jost;
}
