footer {
    width: 100%;
    padding: 52px 120px 0;
}

.footer__container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
}

.footer__about-container {
    display: flex;
    flex-direction: column;
    max-width: 393px;
}

.footer-logo {
    max-width: 177px;
}

.footer__decription {
    width: 326px;
    margin-top: 8px;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
}

.footer__social-networks {
    margin-top: 29px;
    display: flex;
    max-width: 183px;
    justify-content: space-between;
}

.footer__about-blocks {
    max-width: 210px;
}

.footer__about-blocks:nth-child(4) {
    max-width: 317px;
}

.footer__about-title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.22px;
    color: #292F36;
}

.footer-li {
    list-style: none;
    padding: 20px 0 10px;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.22px;
    color: #4D5053;
}

.footer-bottom {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    margin-top: 108px;
    }

.footer__container-bottom {
    text-align: center;
    padding: 36px 0;
}

.bottom__description {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
}

.bottom__description b{
    color: #CDA274;
    font-weight: 400;
}

@media (max-width:1325px) {
    footer{
        padding: 0 20px;
    }
}
@media (max-width: 1128px) {
    .footer__container{
        gap: 40px;
        justify-content: flex-start;
    }
    .footer__decription {
       width: 100%;
    }
    .footer-bottom {
        margin-top: 58px;
        }
}