.main {
    height: 100%;
    width: 100%;
    background-image: url(../../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 190px 0 260px 20px;
}

.main-container {
    margin: auto;
    max-width: 1220px;
}

.main-text {
    height: auto;
    max-width: 600px;
}

.main_title {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 0.22px;
    color: #292F36;
    margin-bottom: 15px;
}

.main_descr {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
}

.main-btn,
.contact__btn {
    margin-top: 35px;
    display: flex;
    align-items: center;
    background: #292F36;
    border: 2px solid #292F36;
    border-radius: 18px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    padding: 14px 20px 14px 32px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.main-btn:hover {
    background: #FFFFFF;
    border: 2px solid #CDA274;
    color: #CDA274;
}

.main-btn__arrow {
    margin-left: 34px;
    margin-right: -14px;
}
@media (max-width:668px) {
    .main {
        height: 100%;
        width: 100%;
        background-image: url(../../img/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 140px 0 210px 20px;
    }
    .main_title {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 65px;
        line-height: 70px;
        letter-spacing: 0.22px;
        color: #292F36;
        margin-bottom: 15px;
    }

    .main_descr {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.22px;
        color: #4D5053;
    }
}

@media (max-width:557px) {
    .main {
        height: 100%;
        width: 100%;
        background-image: url(../../img/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 15px 70px;
    }

    .main_title {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 26px;
        letter-spacing: 0.22px;
        color: #292F36;
        margin-bottom: 15px;
    }

    .main_descr {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.22px;
        color: #4D5053;
    }
    .main-btn,
.contact__btn {
    margin-top: 35px;
    display: flex;
    align-items: center;
    background: #292F36;
    border: 2px solid #292F36;
    border-radius: 18px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    padding: 5px 10px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}
.main-btn__arrow {
    height: 4px;
}
    
}